<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PriemEntities" connectionString="metadata=res://*/Priem2012DB.csdl|res://*/Priem2012DB.ssdl|res://*/Priem2012DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVEDUCATION.ad.pu.ru;initial catalog=Priem;user id=superman;password=spiderman;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSChecksSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.3.1/wschecks.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSChecksSoap" contract="FisEgeService.WSChecksSoap"
        name="WSChecksSoap" />
    </client>
  </system.serviceModel>
</configuration>
